/* Styles pour affiche_liste des tournois */
h2 {
    text-align: center;
    color: #3498db;
}

.tournoi-container {
    display: flex;
    flex-direction: column;
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.tournoi-container h3 {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px 8px 0 0;
    margin: 0;
}

.tournoi-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 0 0 8px 8px;
}

.tournoi-details p {
    margin-bottom: 10px;
}

.tournoi-details form {
    text-align: center;
}

.tournoi-details button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tournoi-details button:hover {
    background-color: #45a049;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .tournoi-container {
        width: 100%;
    }
}
