body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.bvnue-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

h1 {
    color: #333;
}

.balance {
    font-size: 24px;
    color: #27ae60;
    margin-top: 20px;
}

.aff {
    color: white;
}

table {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    background-color: #ddd;
    border-radius: 6px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
