.tab_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.table_detail {
    border-collapse: collapse;
    width: 40%;
    margin-right: 20px;
}

.table_detail th,
.table_detail td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    
}

.table_detail td:nth-child(even) {
    background-color: #f2f2f2;
    color: #414141;
}

.table_detail td:nth-child(odd) {
    background-color: #ffffff;
    color: #000000;
}

.image_item img {
    width: 250px; 
    height: 250px;
    margin-left: auto;
}

.item {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    max-width: 400px; 
    margin-left: auto; 
    margin-right: auto;
}

.lien_detail {
    text-decoration: none;
    color: #5468F9;
    font-weight: bold;
    margin-left: 10px;
}

.liste_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom:60px;
    background-color: #051168 ;
    border-radius: 5px;
    overflow: hidden;
}

.liste_menu li {
    float: left;
    margin-right: 20px;
}

.liste_menu li a {
    display: block;
    color: #5468F9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.liste_menu li a:hover {
    background-color: #ddd;
    color: #333;
}

.tab_info {
    text-align: center;
    margin: 20px auto; 
    margin-top:60px; 
    
}

.tab_info table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;
}

.tab_info table th {
    background-color: #051168;
}

.tab_info table td {
    width: 33%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    
}

.tab_info table th a {
    text-decoration: none;
    color: #5468F9; 
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
    
}

.tab_info table td a:hover {
    background-color: #f2f2f2;
}

.tab_info p {
    max-width: 1000px;
    margin: 20px auto;
    margin-top: 50px;
    animation: fadeIn 1s ease-in-out;
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    font-size: 22px; 
    line-height: 1.5; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}